.users-header
  = render 'users/shared/users-header'

.user-page
  = render 'users/shared/sidebar'

  .learning.user-page__main
    - if @learning.count == 0
      %h2.heading
        学習中のカテゴリーはまだありません。
    - else
      %h2.heading
        学習中の項目一覧
      .learning__list
        - @learning.each do |i|
          .learning__list__tag-container
            .learning__list__tag-container__image
              = image_tag asset_path("#{i.tag.image}"), width: "100%", height: "100%", class: "tag-image"
            .learning__list__tag-container__content
              .learning__list__tag-container__content__top
                .learning__list__tag-container__content__top--tagname
                  = i.tag.name
                  %span<>
                .learning__list__tag-container__content__top--level
                  %span.level Lv.
                  = i.level
                  %span<>
              .learning__list__tag-container__content__middle
                .learning__list__tag-container__content__middle--exp
                  %span.exp 現在の経験値
                  = i.exp
                  %span<>
                .learning__list__tag-container__content__middle--until
                  %span.exp 次のレベルまで
                  = i.exp
                  %span<>
              .learning__list__tag-container__content__bottom
                .progress-bar
            .learning__list__tag-container__report-link
              = link_to new_report_path do
                .tag-btn
                  この項目で学習を始める

