.users-header
  = render 'users/shared/users-header'

.user-page
  = render 'users/shared/sidebar'

  .register-tag.user-page__main
    -# %h2.register-tag__heading
    -#   作成されたレポートはまだありません。
    .register-tag__search
      %input.register-tag__search--input
      = icon('fas', 'search', class: "search-icon")
      %span<>
      -# = form_for (url: search_tags_path, local: true, method: :get) do |f|
      -#   = f.text_field :keyword, placeholder: "キーワードから探す", type: "text", class: "input-area"
      -#   %span<>
      -#   = button_tag type: :submit do
      -#     = icon('fas', 'search', class: "user-icon")

    %h2{class:"register-tag__heading user_id", value: "#{current_user.id}"}
      = current_user.username
      の学習項目一覧
    .register-tag__lists
      - @tags.each do |i|
        .register-tag__lists__tag-container
          .register-tag__lists__tag-container--image
            = image_tag asset_path(i.image), alt: "No Image", width: "100%", height: "100%", class: "tag-image"
          .register-tag__lists__tag-container--detail
            .tagname
              = i.name
            .description
              = i.description
          = link_to register_user_path(current_user.id), method: :POST, remote: true do
            %div{class:"register-tag__lists__tag-container--regist tag-btn regist", id:"#{i.id}"}
              登録する

-# %footer.footer
