= render 'tops/header'
%p タグを新規作成

.wrapper
  = form_for(@tag) do |f|
    .field
      = f.text_field :name, autofocus: true, class: "input-area"
      .field
      = f.text_field :parent_tag_id, autofocus: true, placeholder: "parenttag", class: "input-area"
    .actions
      = f.submit "登録", class: "submit-btn"